{% if cart.item_count > 0 %}
  <div class="p-4">
    <div class="max-w-6xl flex- flex-col my-10 mx-auto">
      <div class="flex-1">
        <div class="flex items-end justify-between my-5">
          <h1 class="text-3xl">Your cart</h1>
          <a
            href="{{ routes.all_products_collectiom_url }}"
            class="text-black-600 hover:text-pink-600 font-medium underline"
            >Continue shopping</a
          >
        </div>
      </div>
    </div>
{% endif %}
